<head>
  <title>Coffee Cam</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&family=Space+Mono&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Coffee Status</h1>
	<div class="content">
		<img src="/static/pic.png" alt="Italian Trulli">
		<h2 class="ai-font-heading">ASki Intelligence</h2>
		<div class="ai-gradient">
			<div class="ai-glow">
			  <p class="ai-font">{{aiResponse}}</p>
			</div>
		</div>
		<h2 class="thoughts-header">Latest Coffee Thoughts</h2>
		<ul>
		{% for thou in thoughts %}
			<li>{{thou}}</li>
		{% endfor %}
		</ul>
	</div>
</body>
